/* Declaramos la fuente */
@font-face {
    font-family: 'pokemon'; /* El nombre que tú le quieras dar */
    src: url('../font/Pokemon Classic.ttf') format('truetype'); /* Ruta al archivo y formato */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'pokemon';
    margin: 0;
    padding: 0;
    background-color: #F4F4F9;
}

.header{
    background-color: #CC0000;
    width: 100%;
    height: 70px;
    display: block;
}


.title{
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-size: 80px;
    color: #FFDE00;
    border-color: black 50px solid;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
}

.info_page{
    margin-top: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.info_page span{
    font-size: 1.1rem;
}

.access{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.access a{
    background-color: #CC0000; /* Amarillo Pokémon */
    color: #fff;
    font-family: 'pokemon', sans-serif;
    padding: 12px 30px;
    border: 2px solid #111111;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}

.access a:hover{
    background-color: #3B4CCA; /* Cambia a Azul al pasar el mouse */
    color: #FFFFFF;
    transform: scale(1.05);
}

/* Styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .header{
        background-color: #CC0000;
        width: 100%;
        height: 40px;
        display: block;
    }

    .title{
        width: 400  px;
        margin-top: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title h1{
        font-size: 25px;
        color: #FFDE00;
        border-color: black 50px solid;
        text-shadow: 
            -2px -2px 0 #000,  
             2px -2px 0 #000,
            -2px  2px 0 #000,
             2px  2px 0 #000;
    }


}