/* Declaramos la fuente */
@font-face {
    font-family: 'pokemon'; /* El nombre que tú le quieras dar */
    src: url('../font/Pokemon Classic.ttf') format('truetype'); /* Ruta al archivo y formato */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'pokemon';
    margin: 0;
    padding: 0;
    background-color: #F4F4F9;
}

.header{
    background-color: #CC0000;
    width: 100%;
    height: 70px;
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.previous-index{
    margin-left: 15px;
    background-color: #F4F4F9;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
}

.previous-index:hover{
    background-color: #c5c5c9;
}
.version-data{
    margin-left: 20px;
    justify-content: end;
    align-items: flex-end; 
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-size: 60px;
    color: #FFDE00;
    border-color: black 50px solid;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
}

.info_page{
    margin-top: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.info_page span{
    font-size: 1rem;
}

.card-content{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-card {
   display: flex;
   justify-content: center;
   align-items: center;
}
.title-card span {
   color: #F4F4F9;
}

.img-card {
   margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
/*Pokemon rojo fuego---------------------------*/
.red-flames{
    background-color: #CC0000;
    width: 270px;
    height: 250px;
    border-radius: 13px;
    border: 3px solid #111111;
    box-shadow: 5px 5px 0px #111111;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    
}
.red-flames:hover{
    background-color: #d83f3f;
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px 0px #111111;
}
.red-flames:active {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0px #111111;
}

.red-flames img{
    width: 230px;
    height: 200px;
}

/*pokemon verde hoja--------------------------------------------------------*/
.green-leaf{
    margin-left: 30px;
    background-color: #22973b;
    width: 270px;
    height: 250px;
    border-radius: 13px;
    border: 3px solid #111111;
    box-shadow: 5px 5px 0px #111111;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.green-leaf:hover{
    background-color: #55b66a;
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px 0px #111111;
}



.green-leaf:active{
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0px #111111;
}

.green-leaf img{
    width: 230px;
    height: 200px;
}


